@font-face {
    font-family: 'Josefin Sans';
    src: url('./JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'Josefin Sans', sans-serif;
  }