<div class="main">
    <div class="frase">
        <div>
            <h1>Olá, bem vindo ao meu portfólio.
                <br>Me nome é <span class="nome">Guilherme Barreto Passos</span>.
            </h1>

            <div class="knowme">
                <h3 class="knowme-frase">Me conheça melhor</h3>
                <a href="https://github.com/guisteps" target="_blank" class="github-btn"></a>
                <a href="https://www.linkedin.com/in/guisteps/" target="_blank" class="linkedin-btn"></a>
                <a href="https://twitter.com/guisteps_" target="_blank" class="twitter-btn"></a>
                <a href="https://www.instagram.com/guisteps" target="_blank" class="instagram-btn"></a>
            </div>
        </div>
    </div>

</div>