<div class="main">
    <div class="title">
        <span>SOBRE</span>
    </div>

    <div class="body">
        <div class="div-img">
            <img src="/assets/images/eu.jfif" alt="minha_foto">
        </div>

        <div class="sobre">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan tellus a varius dapibus. In
                tempus ante sed ligula tempus, at fringilla ligula consectetur. Donec blandit sagittis ex, quis
                pellentesque urna viverra vel. Nullam maximus accumsan lorem, vitae dapibus justo. Curabitur vulputate
                magna vel lectus lobortis cursus. Maecenas venenatis scelerisque venenatis. Integer non nunc efficitur,
                auctor ipsum pharetra, consequat leo. Sed ut semper dolor, nec luctus est. Ut urna purus, elementum et
                euismod sed, sollicitudin vitae libero. Etiam urna arcu, maximus et tincidunt ac, hendrerit commodo
                magna. Sed sit amet auctor turpis. Integer hendrerit ligula lacus, eu dapibus dolor porttitor ut. Morbi
                scelerisque vehicula dolor id mattis. Nulla eu mi ipsum. Proin porttitor velit id dolor accumsan congue.
                In hac habitasse platea dictumst.
                &nbsp;
                Donec a aliquet tellus. Maecenas laoreet, nisi faucibus porta euismod, sapien enim rutrum lorem, a
                cursus ex lacus in est. Ut porttitor scelerisque lectus, quis viverra mi gravida nec. Nulla luctus sem
                eu diam venenatis, vel lobortis neque pretium. Donec tristique tellus dolor, ut mollis turpis rhoncus
                vitae. Phasellus dignissim, sem sed ornare scelerisque, purus ex fringilla ex, sit amet egestas sapien
                lectus sed erat. Vestibulum sit amet orci eu elit facilisis condimentum sit amet ac purus. Ut ut
                consectetur enim.
            </span>

            <button class="button" (click)="download()">Curriculum Vitae</button>
        </div>
    </div>
</div>