<div class="main">
    <div class="title">
        <span>SOBRE</span>
    </div>

    <div class="body">
        <div class="div-img">
            <img src="/assets/images/eu.jfif" alt="minha_foto">
        </div>

        <div class="sobre">
            <span>Olá, meu nome é Guilherme Barreto Passos, sou um desenvolvedor web brasileiro com mais de 10 anos de
                experiência. Minha especialidade está no desenvolvimento de aplicações utilizando Java e Angular. Tenho
                uma paixão por criar soluções inovadoras e funcionais, e ao longo dos anos, tenho trabalhado em diversos
                projetos desafiadores que me permitiram aprimorar minhas habilidades técnicas e criativas.
                <br>
                Tenho um sólido entendimento dos princípios de design e arquitetura de software, bem como da integração
                de sistemas e bancos de dados. Sou um desenvolvedor comprometido com a qualidade do código, seguindo as
                melhores práticas de desenvolvimento e escrevendo código limpo.
                <br>
                Além disso, sou apaixonado por aprender e acompanhar as últimas tendências em desenvolvimento web.
                Sempre estou em busca de novas tecnologias e ferramentas que possam aprimorar minha produtividade e
                permitir a criação de aplicações ainda melhores.
                <br>
                Estou sempre animado para trabalhar em projetos desafiadores e colaborar com equipes talentosas. Se você
                está em busca de um desenvolvedor experiente, capaz de entregar soluções de alta qualidade, fique à
                vontade para entrar em contato comigo. Vamos trabalhar juntos para alcançar resultados excepcionais.
            </span>

            <button class="button" (click)="download()">Curriculum Vitae</button>
        </div>
    </div>
</div>